# Laravel specific files
/vendor
/node_modules
/.env

# Docker specific files
/docker-compose.override.yml
/db-data

# MySQL socket file
/docker/db/data/mysql.sock

# Other temporary or unnecessary files
docker/db/data/*.opt
docker/db/data/*.cnf
docker/db/data/*.opt
docker/db/data/*.cnf
docker/db/data/*.ib*
docker/db/data/*.log