# Laravel specific files
laravel_docker/vendor
laravel_docker/node_modules
laravel_docker/.env

# Docker specific files
/docker-compose.override.yml

# Exclude MySQL data directory entirely
laravel_docker/docker/db/data/
docker/db/data/

# Optional: You can also exclude the Docker build context if needed
laravel_docker/docker/app/
laravel_docker/docker/nginx/
