@media (max-width: 768px) {
    .sidebar {
      width: 200px; /* Adjust width for smaller screens */
    }
}
.sidebar {
    background-color: #f4f4f4;
    padding: 0 10px;
    margin: 0 10px 0 0;
    width: 200px;
}
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
  
.sidebar li {
    margin: 10px 0;
}
  