/* ItemsPage.module.css */
.category-filter-bar {
    flex: 1;
    max-width: 300px; /* Adjust as needed */
    margin-right: 20px; /* Space between filters */
}

.react-select-container {
    width: 100%;
}

.react-select__control {
    min-height: 30px; /* Adjust height as needed */
}
